@import "fontsource-firago/index.css";
body{
    background: radial-gradient(circle, #ffffff, #f2f2ff);
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "FiraGO", sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* Text Elements */
h1{
    font-weight: 500;
    font-size: 2rem;
}
h2{
    font-weight: 500;
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

/* Header */
header{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li{
    float: left;
}
header nav ul li{
    margin: 0 1rem 0 1rem;
    list-style: none;
}
header nav ul li a{
    font-weight: 300;
    text-decoration: none;
}
header nav ul li a:hover{
    color: #0040FF;
}
header nav ul input{
    cursor: pointer;
    font-family: "FiraGO", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1rem;
    background: linear-gradient(135deg, #0040FF, #5983FF);
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}
header nav ul input:hover{
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: #0040FF;
    border: 1px solid #0040FF;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* First Section */
#first_section{
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 9rem;
    align-items: center;
    padding: 70px 0px;
    background-image: url('../assets/images/s1cover.svg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
}
#first_section .content{
    width: 1200px;
    gap: 4rem;
    display: flex;
}
#first_section .logged_in .welcome_text{
    width: 50%;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
#first_section .logged_in .welcome_text input{
    cursor: pointer;
    font-family: "FiraGO", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    background: linear-gradient(135deg, #0040FF, #5983FF);
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 20px;
    width: 50%;
    height: 40px;
}
#first_section .logged_in .statistics{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 150px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(136, 162, 247, 0.3);
}
#first_section .logged_in .statistics .card{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#first_section .logged_in .statistics .card p{
    font-size: 14px;
}
#first_section .logged_in .statistics .card .circle{
    margin-left: 2rem;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
}
#first_section .logged_in .statistics .card .circle p{
    margin: 0;
    padding: 0;
}
#first_section .content h1{
    width: 50%;
    font-size: 2.5rem;
    font-weight: 300;
    color: #002081;
}
#first_section .content h1 span{
    font-weight: 500;
    background: linear-gradient(90deg, #0040ff, #5983ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#first_section .content .second{
    width: 50%;
}
#first_section .content .second p{
    font-size: 1.3rem;
    font-weight: 300;
}
#first_section .content .second .buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}
#first_section .content .second .buttons input,
#first_section .content .second .buttons a{
    cursor: pointer;
    width: 50%;
    border-radius: 20px;
    border: none;
    height: 40px;
    font-family: "FiraGO", sans-serif;
}
#first_section .content .second .buttons input:nth-child(1){
    width: 100%;
    background: linear-gradient(90deg, #0040ff, #5983ff);
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
}
#first_section .content .second .buttons input:nth-child(1):hover{
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: #0040FF;
    border: 1px solid #0040FF;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
#first_section .content .second .buttons input:nth-child(2){
    font-size: 1.3rem;
    font-weight: 300;
    color: #0040FF;
    background-color: white;
    border: 1px solid #0040FF;
}
#first_section .howitWorks{
    height: 150px;
    width: 100%;
    background-color: rgba(228, 234, 254, 0.5);
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#first_section .howitWorks .card{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1rem;
}
/* Second Section */
#second_section{
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 70px 0px;
    background-image: url('../assets/images/s2cover.svg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
}
#second_section .content{
    background-color: rgba(228, 234, 254, 0.5);
    font-weight: 300;
    width: 100%;
    display: flex;
    gap: 12rem;
    justify-content: center;
    align-items: center;
}
#second_section .content .card{
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Third Section */
#third_section{
    margin: 1rem 0;
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 70px 0px;
    background-image: url('../assets/images/s3cover.svg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
} 
#third_section .content,
.one_click_planner .content{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#third_section h1{
    font-weight: 300;
    width: 1200px;
    color: #002081;
}
#third_section .content .form,
.one_click_planner .content .form{
    border-radius: 20px;
    background-color: white;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#third_section .content .form .first_card,
.one_click_planner .content .form .first_card{
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}
#third_section .content .form .first_card input, 
#third_section .content .form .first_card textarea,
.one_click_planner .content .form .first_card input, 
.one_click_planner .content .form .first_card textarea{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #AAAAAA;
    padding: 0 2rem;
}
#third_section .content .form .first_card textarea,
.one_click_planner .content .form .first_card textarea{
    height: 90px;
}
.one_click_planner .content .form .first_card a{
    width: 100%;
}
#third_section .content .form .first_card .btn_submit,
.one_click_planner .content .form .first_card .btn_submit{
    background: linear-gradient(90deg, #0040ff, #5983ff);
    border: none;
    color: white;
    width: 90%;
    font-size: 1.3rem;
    font-weight: 300;
}
#third_section .content .form .first_card .btn_submit:hover,
.one_click_planner .content .form .first_card .btn_submit:hover{
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: #0040FF;
    border: 1px solid #0040FF;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
#third_section .content .form .second_card,
.one_click_planner .content .form .second_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: flex-start;
    border-radius: 20px;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #0040ff, #5983ff);
}
#third_section .content .form .second_card div,
.one_click_planner .content .form .second_card div{
    color: white;
    font-weight: 200;
    margin-left: 5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
#third_section .content .form .second_card img,
.one_click_planner .content .form .second_card img{
    margin: 0 auto;
}

/* Fourth Section */
#fourth_section{
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 70px 0px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
} 

#fourth_section .content{
    gap: 2rem;
    display: flex;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fourth_section .content .service_card{
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
}
#fourth_section .content .service_card div{
    font-weight: 300;
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#fourth_section .content .blue{
    background: linear-gradient(90deg, #0040ff, #5983ff);
    color: white;
}

/* Fifth Section */
#fifth_section{
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 70px 0px;
    background-image: url('../assets/images/s5cover.svg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
} 

#fifth_section .content{
    background-color: rgba(228, 234, 254, 0.5);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
#fifth_section .content .left_side,
#fifth_section .content .right_side{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
}
#fifth_section .content .left_side div,
#fifth_section .content .right_side div{
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#fifth_section .content .left_side div .qa,
#fifth_section .content .right_side div .qa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#fifth_section .content .left_side div .qa h2,
#fifth_section .content .left_side div .qa p,
#fifth_section .content .right_side div .qa h2,
#fifth_section .content .right_side div .qa p
{
    margin: 0;
}
#fifth_section .content .left_side div .qa p,
#fifth_section .content .right_side div .qa p{
    font-weight: 300;
}

/* Footer */
footer{
    font-weight: 300;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
footer .main{
    font-weight: 300;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
footer .main .company{
    padding: 1rem 0;
    width: 300px;
}
footer .main ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer .main ul li{
    list-style: none;
}
footer .main ul li a:hover{
    color: #0040FF;
}
footer .main ul li p{
    font-weight: 500;
}
footer .main .social{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
footer .main .social div{
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .subinfo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
hr{
    width: 100%;
    height:2px;
    border-width:0;
    color:rgb(234, 234, 234);
    background-color:rgb(234, 234, 234);
}
footer .subinfo .terms_conditions{
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Functions */

.one_click_planner{
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one_click_planner .content .form{
    border-radius: 20px;
    background-color: white;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.one_click_planner .content .form .second_card{
    color: white;
}
.one_click_planner .content .form .second_card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
}
.one_click_planner .content .form .second_card div ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.one_click_planner .content .form .second_card div p{
    width: 70%;
}
.one_click_planner .content .form .first_card div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.one_click_planner .content .form .first_card div input{
    width: 20px;
    height: 20px;
}
.one_click_planner .content .form .top{
    justify-content: flex-start;
    align-items: center;
}
.one_click_planner .content .form .top h1{
    margin: 2rem auto;
    font-weight: 300;
}
.one_click_planner .content .form .top .horizontal_card{

    background-color: rgba(228, 234, 254, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.one_click_planner .content .form .top .horizontal_card .port,
.one_click_planner .content .form .top .horizontal_card .companies{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.one_click_planner .content .form .top .horizontal_card .companies{
    background-color: white;
}
.one_click_planner .content .form .top .horizontal_card .port div,
.one_click_planner .content .form .top .horizontal_card .companies div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.one_click_planner .content .form .top .horizontal_card .companies div{
    color: black;
    font-weight: 300;
}
.one_click_planner .content .form .top div{
    padding: 5px;
    border-radius: 20px;
    width: 90%;
}
.one_click_planner .content .form .top .horizontal_card{
    width: 100%;
}

.one_click_planner .content .form .top .horizontal_card .port div h3,
.one_click_planner .content .form .top .horizontal_card .port div p,
.one_click_planner .content .form .top .horizontal_card .companies div h3,
.one_click_planner .content .form .top .horizontal_card .companies div p{
    width: 100%;
    margin: 0;
    padding: 0;
}
.one_click_planner .content .form .top .horizontal_card .companies img{
    width: 50px;
    height: 50px;
}
.one_click_planner .content .form .top div .scrollmenu {
  overflow-x: auto;
  white-space: nowrap;
  display: flex; 
  flex-direction: row;   
  justify-content: flex-start;
  gap: 20px;               
  padding: 10px;
}
.scrollmenu::-webkit-scrollbar {
  height: 8px;
}

.scrollmenu::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
}

.scrollmenu::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.horizontal_card {
  flex: 0 0 auto; 
  display: flex;          
  flex-direction: column; 
  gap: 10px;
  min-width: 300px;  
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}

.horizontal_card .port,
.horizontal_card .companies {
  flex: 0 0 auto;
  margin-right: 10px;
}


/* Sign In */


#third_section .content .form .sign_in{
    font-weight: 300;
    color: white;
    justify-content: center;
    align-items: center;
}

#third_section .content .form .sign_in_inputs h1{
    width: auto;
    margin: 0 auto;
    width: 500;
    color: black;
}
#third_section .content .form .sign_in_inputs div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#third_section .content .form .sign_in_inputs div .left{
    color: gray;
    display: flex;
    gap: 2px;
    justify-content: flex-start;
    width: auto;

}
#third_section .content .form .sign_in_inputs input{
    width: 90%;
}
#third_section .content .form .sign_in_inputs div .forgot_password{
    font-size: 14px;
    text-decoration: underline;
    color: gray;
    float: right;
    text-wrap: no-wrap;
}
#third_section .content .form .sign_in_inputs div .left input{
    width: 20px;
    height: 20px;
}
#third_section .content .form .sign_in_inputs .form_submit{
    width: 100%;
}
#third_section .content .form .sign_in_inputs .form_submit .btn_submit{
    width: 100%;
}

#third_section .content .form .sign_in_inputs .alternative_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#third_section .content .form .sign_in_inputs .alternative_login{
    font-weight: 300;
}
#third_section .content .form .sign_in_inputs .alternative_login div{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
#third_section .content .large_form{
    height: 800px;
}
#third_section .content .form .verification{
    font-weight: 300;
    gap: 4rem;
}
#third_section .content .form .verification span{
    font-weight: 600;
    color: #002081;
}

/* Authorization User */
header a .material-symbols-outlined{
    color: gray;
}
header a .material-symbols-outlined:hover{
    color: #0040FF;
}
#service_providers,
#saved_ports{
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-image: url('../assets/images/s2cover.svg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
}
#service_providers .header,
#saved_ports .header{
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}
#service_providers .header a,
#saved_ports .header a{
    text-decoration: underline;
}
#service_providers .search,
#saved_ports .search{
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}
#service_providers .search div,
#saved_ports .search div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
}
#service_providers .search div .search_input,
#saved_ports .search div .search_input{
    width: 70%;
    height: 40px;
    border: 1px solid #7496fc;
    border-radius: 20px 0 0 20px;
    padding: 0 20px;
}
#service_providers .search div .search_btn,
#saved_ports .search div .search_btn{
    cursor: pointer;
    font-family: "FiraGO", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1rem;
    background: linear-gradient(135deg, #0040FF, #5983FF);
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0 20px 20px 0;
    width: 50px;
    height: 40px;
}
#service_providers .content,
#saved_ports .content{
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgba(228, 234, 254, 0.5);
    font-weight: 300;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
#service_providers .content .companies_card,
#saved_ports .content .companies_card{
    padding: 1rem;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}
#service_providers .content .companies_card .header,
#saved_ports .content .companies_card .header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#service_providers .content .companies_card .header div,
#saved_ports .content .companies_card .header div{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#service_providers .content .companies_card .header div p,
#saved_ports .content .companies_card .header div p{
    font-size: 20px;
    font-weight: 500;
}
#service_providers .content .companies_card .header div img,
#saved_ports .content .companies_card .header div img{
    width: 30px;
    height: 30px;
}
#service_providers .content .companies_card .header input,
#saved_ports .content .companies_card .header input{
    cursor: pointer;
    font-family: "FiraGO", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1rem;
    background: linear-gradient(135deg, #0040FF, #5983FF);
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 40px;
}
#service_providers .content .companies_card img,
#saved_ports .content .companies_card img{
    width: 100%;
    height: 150px;
}
#saved_ports{
    margin: 2rem 0;
}
#saved_ports .one_click_planner .content .form{
    background-color: rgba(228, 234, 254, 0);
    justify-content: center;
    align-items: center;
    height: 800px;
}

#saved_ports .one_click_planner .flex{
    height: 800px;
}
#saved_ports .one_click_planner .flex .form .whole_card{
    justify-content: center;
    background-color: none;
    width: 80%;
}
#saved_ports .one_click_planner .flex .form .whole_card .scrollmenu .horizontal_card{
    width: 60%;
    height: 600px;
}
.one_click_planner .content .form .centered{
    justify-content: center;
    align-items: center;
}
.one_click_planner .content .form .centered img{
    width: 150px;
    height: 150px;
}
.one_click_planner .content .form .centered span{
    color: red;
    text-align: center;
    font-weight: 300;
}
.one_click_planner .content .form .centered div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.one_click_planner .content .form .centered div input{
    width: 80%;
    height: 40px;
}
input[type="file"] {
    display: none;
}

.custom-file-upload {
    font-family: "FiraGO", sans-serif;
    border: 1px solid #AAAAAA;
    display: inline-block;
    font-weight: 300;
    color: gray;
    padding: 6px 12px;
    cursor: pointer;
}
.one_click_planner .content .form .centered div textarea{
    padding-top: 1rem;
    font-weight: 200;
    font-family: "FiraGO", sans-serif;;
}
.one_click_planner .content .form .right_input{
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.one_click_planner .content .form .right_input .inputs_for_rightside{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.one_click_planner .content .form .right_input .inputs_for_rightside input{
    width: 90%;
    font-family: "FiraGO", sans-serif;
    padding: 0 20px;
    height: 40px;
    border: none;
    border-radius: 20px;
}
.one_click_planner .content .form .right_input a{
    width: 100%;
}
.one_click_planner .content .form .right_input a .btn_submit{
    width: 100%;
    border-radius: 20px;
    border: none;
    font-family: "FiraGO", sans-serif;
    font-size: 24px;
    background-color: #002081;
    color: white;
    font-weight: 300;
    height: 40px;
}
.one_click_planner .content .small_height{
    height: 600px;
}
.one_click_planner .content .medium_height{
    height: 800px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* aligns content to the right edge */
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    font-size: 12px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.one_click_planner .content .form .centered div .payment1{
    background-color: white;
    border: 1px solid #8ba8ff;
    padding: 0 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
}
.one_click_planner .content .form .centered div .payment1 img{
    width: 60px;
    height: 30px;

}
.one_click_planner .content .form .centered div .payment1 p{
    color: gray;
    font-weight: 300;
    font-size: 14px;
}